<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Display Image</title>
</head>
<body>
    <div class="container">
        <h1>Image Uploaded Successfully</h1>
        <img src="{{ file_url }}" alt="Uploaded Image">
        <p><strong>Predicted Class Label:</strong> {{ predicted_class_label }}</p>
        <a href="{{ url_for('home') }}">Upload Another Image</a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
